<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue2 basic</title>
    <style>
        .red {
            color: red;
        }

        .font-bold {
            font-weight: bold;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div>
            {{ people[0].name }} {{ people[0].age }}
        </div>
        <div>
            {{ people[1].name }} {{ people[1].age }}
        </div>
        <div>
            {{ people[2].name }} {{ people[2].age }}
        </div>
        <div>
            {{ people[3].name }} {{ people[3].age }}
        </div>

        <hr>

        <!-- v-for:반복문 -->
        <!-- Vue에서 개별 DOM 노드들을 추적하고 기존 엘리먼트를 재사용, 재정렬하기 위해서
                 v-for의 각 항목들에 고유한 key 속성을 제공해야 한다. 
                 key에 대한 이상적인 값은 각 항목을 식별할 수 있는 고유한 ID여야함.  -->
        <div v-for="(person, index) in people" :key="person.id">
            {{ person.name }} {{ person.age }} {{ index }}
        </div>
        
        <!-- 객체 사용시 -->
        <div v-for="(value, name, index) in object">
            {{ index }}. {{ name }}: {{ value }}
        </div>
        
        </div>
        <script>
        new Vue({
            el: '#app',
            data: {
                people: [
                    { id: 1, name: 'a', age: 20 }, 
                    { id: 2, name: 'b', age: 21 }, 
                    { id: 3, name: 'c', age: 22 }, 
                    { id: 4, name: 'd', age: 23 }, 
                    { id: 5, name: 'e', age: 24 }, 
                    { id: 6, name: 'e', age: 25 },
                ]
            },
            methods: {
               
            },
        })
    </script>
</body>
</html>